.DraftEditor-root {
  position: relative;
}
.public-DraftEditor-content {
  min-height: 100px;
}

.public-DraftEditorPlaceholder-root {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
